body {
    background: #212121;
    color: white;
    font-family: cursive;
    text-align: center;
}

#next,
#prev {
    color: #212121;
    background: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
}

.next-prev-btn {
    display: flex;
    justify-content: space-around;
    margin: 40px 0px;
}

h1 {
    font-size: 24px;
    font-weight: 900;
}

h3 {
    font-size: 20px;
    font-weight: 700;
}

#count {
    text-align: center;
}

.project1 button {
    width: 90px;
}

/* project 2 -*/
#current-time {
    color: white;
}

/*-- project 3 */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box {
    width: 250px;
    height: 250px;
    margin-right: 20px;
    border-radius: 26px;
    border: 2px solid rgb(230, 213, 213);
}

#red {
    background: red;
}

#green {
    background: green;
}

#white {
    background: white;
}

#blue {
    background-color: blue;
}

/*---project 4 ----*/
.grid-box {
    display: none;
    max-width: 100%;
    margin: 30px;
    text-align: center;
    background: #212121;
    border: 1px solid wheat;
    border-radius: 16px;
}

#menuBtn {
    background: white;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 8px;

}

.link {
    margin-top: 20px;
}

.link a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}

.link:last-child {
    margin-bottom: 20px;
}

.close {
    color: white;
    text-align: right;
    cursor: pointer;
    margin: 20px;
}

/*---project 5 --*/
.display input {
    height: 50px;
    width: 255px;
    font-weight: 900;
    font-size: 24px;
}

.row {
    display: flex !important;
    margin-top: 10px;
}

.row button {
    width: 50px;
    border-radius: 25%;
    margin-right: 20px;
    border: none;
    cursor: pointer;
    height: 40px;
}

.big-btn {
    width: 120px;
}

.container-cal {
    display: flex;
    justify-content: center;
}

.next {
    display: flex;
    justify-content: space-around;
}

.next button {
    color: white;
    background: #212121;
    padding: 10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.next button a {
    color: white;
    text-decoration: none;
}

/*---project 6--*/
.container-project6 {
    margin: 20px;
    background: #212121;
    color: whitesmoke;
    border-radius: 16px;
    padding: 10px;
}

.list-item {
    margin-top: 15px;
    font-weight: 700;
    font-size: 20px;
    list-style-type: disc;
    cursor: pointer;
}

.done {
    text-decoration: line-through;
    color: green;
}

/*---project 7--*/
ul li {
    cursor: pointer;
}

#taskInput {
    height: 30px;
    border: none;
    border-radius: 10px;
}

#addBtn {
    border-radius: 8px;
    border: none;
    padding: 6px;
    background: white;
}
/*---project-9---*/
.project-9{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.display-flex{
    display: inline-grid;
}